body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

#nys-cards .card {
  background-color: #f8d7da; /* Light red for "Not Yet Started" */
}
#in-progress-cards .card {
  background-color: #fff3cd; /* Light yellow for "In Progress" */
}
#complete-cards .card {
  background-color: #d4edda; /* Light green for "Complete" */
}